
.myWrapper {
	width: 100%;
	height: 400px;
}
.myWrapper {
	position: relative;
}
#videoHolder {
	position: relative;
	padding-top: 25px;
	height: 0;
	text-align: center;
	margin: 0 auto;
	width: 566px;
}
h3 {
	margin: 0;
}
#myVideo,
.thumbs {
	width: 566px;
	height: 354px;
	outline: none;
	
	
}

.thumb {
	width: 23%;
	display: inline-block;
	border: 1px solid #919191;
	text-transform: uppercase;
	line-height: 50px;
	background-size: 100% auto;
	cursor: pointer;
	font-size: 80%;
	
}

@media only screen and (max-width: 600px) {
	#videoHolder {
		width: calc(100% - 20px);
		margin: 0 10px;
	}
	#myVideo,
	.thumbs {
		width: 100%;
		height: auto;
	}
}

/*second start*/
.gallery {
  display: flex;
  flex-flow: wrap;
  border: solid rgb(240,240,240);
}
.gallery div {  /* блоки видео + списков */
  flex: 150px;
  position: relative;
  text-align: center;
}
.gallery div:nth-of-type(1) {
  flex: 10000 1 300px;  /* если ширина менее 300 + 150 = 450px , то списки миниатюр смещаются на нижний ряд, подробнее про свойство flex */
}
.gallery div::before {
  content: "";
  display: block;
  padding-top: 100px;
}
.gallery div:nth-of-type(1)::before {
  padding-top: 56.25%;
}
.gallery iframe,
.gallery span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.gallery a {  /* для разнообразия, иконки не затемнены, так проще оценить код галереи видео */
  display: inline-block;
  margin-top: 5px;
}
.gallery a:last-child {
  margin-bottom: 5px;
}
.gallery iframe,
.gallery img {
  max-width: 100%;
  vertical-align: middle;
}